
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');/*font-family: 'Work Sans', sans-serif;*/
  @import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');/*font-family: 'Protest Riot', sans-serif;
  font-family: 'Work Sans', sans-serif;*/
  @import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');/*font-family: 'Protest Riot', sans-serif;
  font-family: 'Work Sans', sans-serif;*/
  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700&family=Protest+Riot&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');/*font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Protest Riot', sans-serif;
  font-family: 'Work Sans', sans-serif;*/
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Montserrat+Alternates:wght@500;600;700&family=Protest+Riot&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');/*font-family: 'Lato', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Protest Riot', sans-serif;
  font-family: 'Work Sans', sans-serif;*/



.navbar{background-color: #322E18;
height: 80px;

}

.navbar-toggler{
   border: none;
   font-size:20px;
}

span{
   display:inline-block;
}

.icon-green{
   color: #F9A620;
}
.navbar-toggler:focus, .btn-close:focus{
box-shadow: none ;
outline: none ;
} 

.nav-link{
   color:#F9A620;
   font-family:'Work Sans', sans-serif;
   font-weight: 600;
   transition: 0.4s;
   letter-spacing: 4px;
}

.nav-link:hover, .nav-link:hover{
   color:#ac6a00
}

.offcanvas offcanvas-end{
   width: 200;
}

.offcanvas-body{
   background-color: #322E18;
   
}
.offcanvas-header{
   background-color: #322E18;
}

.logo{
   height: 80px;
}

.slider {
   width: 100%;
   height: 500px;
   margin: 20px auto;
   background-color:#1b180a;
   top: 76px;
   position: relative;
 }
 
 .slider-text{
     color: #ffffff;
     text-align: center;
     font-family: 'PathwayGothicOne-Regular', sans-serif;
     font-size: 36px;
     font-weight: 400;
     position: relative;
 }
 
 #slideImg {
   width: 100%;
   height: 100%;
   object-fit: contain;
   position: relative;
 }

.slider{
   width:100%;
   height:450px;
   margin: 0;
  
}
#img{
   width:100%;
   height:100%;
   
}


.img-slider{
   width:100%;
   height:100%;
}



.book-img {
    display: flex;
    flex-direction: row;
    gap: 143px;
    height: 412px;
    position: relative;
    display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
}

.book-div {
    display: flex;
    flex-direction: row;
    gap: 198px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 304px;
    position: relative;
    top:50px;
}

.frame-25 {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.book-a-table {
    color: #000000;
    text-align: left;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 36px;
    font-weight: 500;
    position: relative;
    letter-spacing: 4px;
}

.paragraph1{
    color: #000000;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 250;
    position: relative;
    width:500px;
    height: 64px;
}

.buttons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 385px;
    position: relative;
}

.menu-button {
    background: #f9a620;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 150px;
    height: 32px;
    position: relative;
    color: #322e18;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    border: none;
    transition: 0.4s;
}

.menu-button:hover{
   background:#f9a620;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 170px;
    height: 32px;
    position: relative;
    color: #332f1c;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    border: none;
    transition: 0.4s;

}


    

.book-button {
    background: #322e18;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 150px;
    height: 32px;
    position: relative;
    color: #f9a620;
    text-align:center;
    font-family:'Work Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    border: none;
    transition: 0.4s
}

.book-button:hover{
   background: #322e18;
   border-radius: 7px;
   padding: 10px;
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   width: 170px;
   height: 32px;
   position: relative;
   color: #f9a620;
   text-align:center;
   font-family:'Work Sans', sans-serif;
   font-size: 17px;
   font-weight: 400;
   border: none;
}

.book-button:active{
   background: #494737;
   border-radius: 7px;
   padding: 10px;
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   width: 170px;
   height: 32px;
   position: relative;
   color: #f9a620;
   text-align:center;
   font-family: 'PathwayGothicOne-Regular', sans-serif;
   font-size: 17px;
   font-weight: 400;
   border: none;
}

.young-chef-1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 368px;
    position: relative;
}

.chef-pic-1 {
    flex-shrink: 0;
    width: 368px;
    height: 412px;
    position: relative;
    object-fit: cover;
}

.frame-48 {
    display: flex;
    flex-direction: column;
    gap: 54px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.frame-45 {
    display: flex;
    flex-direction: column;
    gap: 81px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 966px;
    position: relative;
    overflow: hidden;
}



.special-cuisine {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 210px;
}

.special-heading {
    display: flex;
    flex-direction: column;
    gap: 81px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 966px;
    position: relative;
    overflow: hidden;
}

.our-special-cuisines {
   color: #000000;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 36px;
    font-weight: 500;
    position: relative;
    letter-spacing: 4px;
}

.paragraph2{
   color: #000000;
   text-align: center;
   font-family: 'Lato', sans-serif;
   font-size: 18px;
   font-weight: 200;
   position: relative;
   width: 662px;
   height: 64px;
}


.cuisine-display {
    display: flex;
    flex-direction: row;
    gap: 85px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top:250px;
}

.food-1 {
   background: #d9d9d9;
   border-radius: 34px 34px 0 0;
   position: absolute;
   right: 0%;
   left: 0%;
   width: 100%;
   height: 235px;
   bottom: 0%;
   top: 0%;
   
}


.rectangle-4 {
   flex-shrink: 0;
    width: 315px;
    height: 357px;
    position: relative;
}

.rectangle-5 {
    background: #322e18;
    border-radius: 0px 0px 34px 34px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 64.78%;
    height: 35.22%;
}

.food-text1{
    color: #f2ae00;
    text-align: center;
    font-family: 'PalatinoLinotype-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    right: 2.22%;
    left: 2.22%;
    width: 95.57%;
    bottom: 12.29%;
    top: 69.78%;
    height: 17.93%;
}

.component-20 {
    flex-shrink: 0;
    width: 315px;
    height: 357px;
    position: relative;
}

.food-2 {
   background: #d9d9d9;
   border-radius: 34px 34px 0 0;
   position: absolute;
   right: 0%;
   left: 0%;
   width: 100%;
   height: 235px;
   bottom: 0%;
   top: 0%;
}



.component-19 {
    flex-shrink: 0;
    width: 315px;
    height: 357px;
    position: relative;
}

.food-3 {
   background: #d9d9d9;
   border-radius: 34px 34px 0 0;
   position: absolute;
   right: 0%;
   left: 0%;
   width: 100%;
   height: 235px;
   bottom: 0%;
   top: 0%;
}

.component-23 {
    flex-shrink: 0;
    width: 315px;
    height: 357px;
    position: relative;
}

.food-4 {
   background: #d9d9d9;
   border-radius: 34px 34px 0 0;
   position: absolute;
   right: 0%;
   left: 0%;
   width: 100%;
   height: 235px;
   bottom: 0%;
   top: 0%;
}

.component-24 {
   flex-shrink: 0;
   width: 315px;
   height: 357px;
   position: relative;
}

.food-5 {
   background: #d9d9d9;
   border-radius: 34px 34px 0 0;
   position: absolute;
   right: 0%;
   left: 0%;
   width: 100%;
   height: 235px;
   bottom: 0%;
   top: 0%;
}

.component-25 {
   flex-shrink: 0;
   width: 315px;
   height: 357px;
   position: relative;
}

.food-6 {
   background: #d9d9d9;
   border-radius: 34px 34px 0 0;
   position: absolute;
   right: 0%;
   left: 0%;
   width: 100%;
   height: 235px;
   bottom: 0%;
   top: 0%;
}

.customer-reviews{
   color: #000000;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 36px;
    font-weight: 500;
    position: relative;
    letter-spacing: 4px;
   top:300px
}

.comment-div {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 350px;
    margin: auto;
}

.comment-1 {
    flex-shrink: 0;
    width: 320px;
    height: 450px;
    position: relative;
}

.comment-2 {
   flex-shrink: 0;
   width: 320px;
   height: 450px;
   position: relative;
}

.comment-3 {
   flex-shrink: 0;
   width: 320px;
   height: 450px;
   position: relative;
}

.comment-4 {
   flex-shrink: 0;
   width: 320px;
   height: 450px;
   position: relative;
}

.rectangle-3 {
    background: #ffffff;
    border-radius: 36px;
    border-style: solid;
    border-color: #829191;
    border-width: 0.4px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 320px;
    bottom: 0%;
    top: 0%;
    height: 450px;
}

.ellipse-1 {
    background: #d9d9d9;
    border-radius: 50%;
    position: absolute;
    right: 30.83%;
    left: 31.04%;
    width: 38.12%;
    bottom: 66.93%;
    top: 4.11%;
    height: 28.96%;
}

.comment-text1{
   color: #000000;
   text-align: center;
   font-family: 'Lato', sans-serif;
   font-size: 18px;
   font-weight: 400;
   position: absolute;
   right: 2.71%;
   left: 2.71%;
   width: 94.58%;
   bottom: 30.38%;
   top: 39.72%;
   height: 29.91%;
}

.comment-text2{
    color: #000000;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    right: 2.71%;
    left: 2.71%;
    width: 94.58%;
    bottom: 30.38%;
    top: 39.72%;
    height: 29.91%;
}

.comment-text3{
   color: #000000;
   text-align: center;
   font-family: 'Lato', sans-serif;
   font-size: 18px;
   font-weight: 400;
   position: absolute;
   right: 2.71%;
   left: 2.71%;
   width: 94.58%;
   bottom: 30.38%;
   top: 39.72%;
   height: 29.91%;
}

.comment-text4{
   color: #000000;
   text-align: center;
   font-family: 'Lato', sans-serif;
   font-size: 18px;
   font-weight: 400;
   position: absolute;
   right: 2.71%;
   left: 2.71%;
   width: 94.58%;
   bottom: 30.38%;
   top: 39.72%;
   height: 29.91%;
}

.comment-name1{
    color: #000000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    right: 20.62%;
    left: 20.83%;
    width: 58.54%;
    bottom: 21.2%;
    top: 73.1%;
    height: 5.7%;
}

.comment-name2{
   color: #000000;
   text-align: center;
   font-family: 'Work Sans', sans-serif;
    letter-spacing: 4px;
   font-size: 20px;
   font-weight: 800;
   position: absolute;
   right: 20.62%;
   left: 20.83%;
   width: 58.54%;
   bottom: 21.2%;
   top: 73.1%;
   height: 5.7%;
}

.comment-name3{
   color: #000000;
   text-align: center;
   font-family: 'Work Sans', sans-serif;
   letter-spacing: 4px;
   font-size: 20px;
   font-weight: 800;
   position: absolute;
   right: 20.62%;
   left: 20.83%;
   width: 58.54%;
   bottom: 21.2%;
   top: 73.1%;
   height: 5.7%;
}

.comment-name4{
   color: #000000;
   text-align: center;
   font-family: 'Work Sans', sans-serif;
    letter-spacing: 4px;
   font-size: 20px;
   font-weight: 800;
   position: absolute;
   right: 20.62%;
   left: 20.83%;
   width: 58.54%;
   bottom: 21.2%;
   top: 73.1%;
   height: 5.7%;
}

.stars-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items:center;
    justify-content:center;
    position: absolute;
    right: 27.08%;
    left: 27.08%;
    width: 45.83%;
    bottom: 12.03%;
    top: 385px;
    height: 5.7%;
}

.mingcute-star-fill {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    position: relative;
    overflow: hidden;
}



/*FOOTER*/

.footer {
    background: #322e18;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
    
    top:352px;
}

.contact-div {
   
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    position: relative;
}

.frame-48 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.contact-us {
    color: rgba(255, 255, 255, 0.74);
    text-align: center;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    width: 163px;
    height: 30.47px;
}

.email{
    color: rgba(255, 255, 255, 0.64);
    text-align: center;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    width: 235px;
    height: 46.24px;
}

.number {
    color: rgba(255, 255, 255, 0.64);
    text-align: center;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    width: 165px;
    height: 23px;
}

.quicklinks-div {
    
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    position: relative;
    padding-bottom: 5px;
}

.frame-49 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.quick-links {
    color: rgba(255, 255, 255, 0.74);
    text-align: center;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    width: 164px;
    height: 30.47px;
}

.home {
    color: rgba(255, 255, 255, 0.64);
    text-align: center;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    width: 63px;
    height: 23px;
}

.eat-drink {
    color: rgba(255, 255, 255, 0.64);
    text-align: center;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    width: 113px;
    height: 23px;
}

.gallery {
    color: rgba(255, 255, 255, 0.64);
    text-align: center;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    width: 163px;
    height: 23.12px;
}

.contact {
    color: rgba(255, 255, 255, 0.64);
    text-align: center;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    width: 163px;
    height: 23.12px;
}

.socials-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 258px;
    height: 170px;
    position: relative;
}

.frame-56 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
    left: 0.5px;
    top: 11px;
}

.frame-58 {
    padding: 0px 73px 0px 73px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.socials {
    color: rgba(255, 255, 255, 0.74);
    text-align: center;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    width: 110px;
    height: 30.47px;
}

.frame-50 {
    display: flex;
    flex-direction: row;
    gap: 27px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
    left: -0.5px;
    top: 56px;
}

.social-icons {
    flex-shrink: 0;
    width: 44px;
    height: 40.98px;
    position: relative;
    overflow: visible;
}

.social-icons2 {
    flex-shrink: 0;
    width: 44px;
    height: 41.94px;
    position: relative;
    overflow: visible;
}

.social-icons3 {
    flex-shrink: 0;
    width: 44px;
    height: 40.98px;
    position: relative;
    overflow: visible;
}

.social-icons4 {
    flex-shrink: 0;
    width: 44px;
    height: 40.98px;
    position: relative;
    overflow: visible;
}


.swiper {
   display: none;
 }



 

 


 @media only screen and (max-width: 1100px){

   .container-fluid fixed-top{
      display:contents;

   }
html{width: 100%;
   height: 100%;

}
body{width: fit-content;}

   .logo{
      top: 0;
   }


   .book-img {
      display: flex;
      flex-direction: column;
      gap: 30px;
      height: 412px;
    align-items: center;
    justify-content: center;
    top: 340px;
    visibility: visible;
    
  }
  
  .book-div {
      
      flex-direction: row;
      gap: 198px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;
      height: 304px;
      position: relative;
      top:50px;
      visibility: visible;

  }
  
  .frame-25 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      position: relative;
      visibility: visible;
      
  }
  
  .book-a-table {
      color: #000000;
      text-align: center;
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 20px;
      font-weight: 400;
      position: relative;
      visibility: visible;
  }

  
  .paragraph1{
      color: #000000;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      font-weight: 200;
      position: relative;
      width: 350px;
      height: 64px;
      visibility: visible;
      
  }
  
  .buttons-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:center;
      flex-shrink: 0;
      width: 385px;
      position: relative;
      gap:40px;
      top:60px;
      visibility: visible;
      ;
  }
  
  .menu-button {
      background: #f9a620;
      border-radius: 7px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 110px;
      height: 32px;
      position: relative;
      color: #322e18;
      text-align: left;
      font-family: 'PathwayGothicOne-Regular', sans-serif;
      font-size: 17px;
      font-weight: 400;
      border: none;
      transition: 0.4s;
      visibility: visible;
  }
  
  .menu-button:hover{
     background:#f9a620;
      border-radius: 7px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 140px;
      height: 32px;
      position: relative;
      color: #332f1c;
      text-align: left;
      font-family: 'PathwayGothicOne-Regular', sans-serif;
      font-size: 17px;
      font-weight: 400;
      border: none;
      transition: 0.4s;
      visibility: visible;
  
  }
  
  .menu-button:hover{
     background: #f9c26a;
      border-radius: 7px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 140px;
      height: 32px;
      position: relative;
      color: #332f1c;
      text-align: left;
      font-family: 'PathwayGothicOne-Regular', sans-serif;
      font-size: 17px;
      font-weight: 400;
      border: none;
      visibility: visible;
      
  
  }
  
  .book-button {
      background: #322e18;
      border-radius: 7px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 110px;
      height: 32px;
      position: relative;
      color: #f9a620;
      text-align:center;
      font-family: 'PathwayGothicOne-Regular', sans-serif;
      font-size: 15px;
      font-weight: 400;
      border: none;
      transition: 0.4s;
      visibility: visible;
  }
  
  .book-button:hover{
     background: #322e18;
     border-radius: 7px;
     padding: 10px;
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
     justify-content: center;
     flex-shrink: 0;
     width: 140px;
     height: 32px;
     position: relative;
     color: #f9a620;
     text-align:center;
     font-family: 'PathwayGothicOne-Regular', sans-serif;
     font-size: 15px;
     font-weight: 400;
     border: none;
     visibility: visible;
  }
  
  .book-button:active{
     background: #494737;
     border-radius: 7px;
     padding: 10px;
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
     justify-content: center;
     flex-shrink: 0;
     width: 140px;
     height: 32px;
     position: relative;
     color: #f9a620;
     text-align:center;
     font-family: 'PathwayGothicOne-Regular', sans-serif;
     font-size: 15px;
     font-weight: 400;
     border: none;
     visibility: visible;
  }
  

  .young-chef-1 {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: flex-start;
   justify-content: flex-start;
   flex-shrink: 0;
   width: 368px;
   position: relative;
   visibility: visible;
}



.our-special-cuisines{
   color: #000000;
   text-align: center;
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 20px;
   font-weight: 500;
   width: 362px;
   position: relative;
   letter-spacing: 4px;

   
}

.special-cuisine {
   display: flex;
   flex-direction: column;
   gap: 30px;
   width: 362px;
   align-items: center;
   margin:auto;
   position: relative;
   top: 600px;
}

.special-heading {
   display: flex;
   flex-direction: column;
   gap: 81px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   width: 362px;
   position: relative;
   overflow: hidden;
}

.cuisine-display {
   display: flex;
   flex-direction: row;
   gap: 85px;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   position: relative;
   top:700px;
   
}

.paragraph2{
   color: #000000;
   text-align: center;
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   font-weight: 200;
   position: relative;
   width: 362px;
   height: 64px;
}

.customer-reviews{
   color: #000000;
   text-align: center;
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 20px;
   font-weight: 500;
   position: relative;
   letter-spacing: 4px;
   top:725px;
   
}


.swiper {
   width: 321px;
   height: 452px;
   border-radius: 36px;
   top:750px;
 }

 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .swiper-button-next, .swiper-button-prev{
     opacity: 0.7;
     color:#322e18;
     transition: all 0.4s ease;
     
     
 }

 .swiper-button-next:hover, .swiper-button-prev:hover{
     opacity:1;
     color:#322e18;
     
 }

 .swiper-pagination-bullet{
     height: 7px;
     width: 26;
     border-radius:25px;
     color: #322e18;
 }

 .rectangle-3 {
   background: #ffffff;
   border-radius: 36px;
   border-style: solid;
   border-color: #829191;
   border-width: 0.4px;
   position: absolute;
   right: 0%;
   left: 0%;
   width: 320px;
   bottom: 0%;
   top: 0%;
   height: 450px;
}

.ellipse-1 {
   background: #d9d9d9;
   border-radius: 50%;
   position: absolute;
   right: 30.83%;
   left: 31.04%;
   width: 38.12%;
   bottom: 66.93%;
   top: 4.11%;
   height: 28.96%;
}

.comment-text1{
  color: #000000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 2.71%;
  left: 2.71%;
  width: 94.58%;
  bottom: 30.38%;
  top: 39.72%;
  height: 29.91%;
}

.comment-text2{
   color: #000000;
   text-align: center;
   font-family: 'Lato', sans-serif;
   font-size: 18px;
   font-weight: 400;
   position: absolute;
   right: 2.71%;
   left: 2.71%;
   width: 94.58%;
   bottom: 30.38%;
   top: 39.72%;
   height: 29.91%;
}

.comment-text3{
  color: #000000;
  text-align: center;
  font-family:  'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 2.71%;
  left: 2.71%;
  width: 94.58%;
  bottom: 30.38%;
  top: 39.72%;
  height: 29.91%;
}

.comment-text4{
  color: #000000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 2.71%;
  left: 2.71%;
  width: 94.58%;
  bottom: 30.38%;
  top: 39.72%;
  height: 29.91%;
}

.comment-name1{
   color: #000000;
   text-align: center;
   font-family: 'Work Sans', sans-serif;
    letter-spacing: 4px;
   font-size: 20px;
   font-weight: 800;
   position: absolute;
   right: 20.62%;
   left: 20.83%;
   width: 58.54%;
   bottom: 21.2%;
   top: 73.1%;
   height: 5.7%;
}

.comment-name2{
  color: #000000;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
    letter-spacing: 4px;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  right: 20.62%;
  left: 20.83%;
  width: 58.54%;
  bottom: 21.2%;
  top: 73.1%;
  height: 5.7%;
}

.comment-name3{
  color: #000000;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
    letter-spacing: 4px;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  right: 20.62%;
  left: 20.83%;
  width: 58.54%;
  bottom: 21.2%;
  top: 73.1%;
  height: 5.7%;
}

.comment-name4{
  color: #000000;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  right: 20.62%;
  left: 20.83%;
  width: 58.54%;
  bottom: 21.2%;
  top: 73.1%;
  height: 5.7%;
}

.stars-div {
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items:center;
   justify-content:center;
   position: absolute;
   right: 27.08%;
   left: 27.08%;
   width: 45.83%;
   bottom: 12.03%;
   top: 385px;
   height: 5.7%;
}


.comment-div{
   display: none;
}

.footer {
    background: #322e18;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
    top:752px;
}

}


